<!DOCTYPE html>
<html>
<head>
    <title>Hello API</title>
    <meta charset="utf-8" />
</head>
<body>
<a href="/about">О нас</a>
<br/>
<h1>Hello API</h1>
<p>Example</p>
<p>http://127.0.0.1:3000/api/getFirst/?q=man</p>
<p>http://127.0.0.1:3000/api/getArr/?q=woman</p>
</body>
<html>